Ejercicios XML- XPath - XSLT y RSS/Ejercicio4.xml

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="cfgs_daw">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="modulo" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="nombre" type="xs:string"/>
              <xs:element name="descripcion" type="xs:string"/>

              <xs:element name="codigo" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="\d{4}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="profesor" type="xs:string" minOccurs="0"/>

              <xs:element name="fechas" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>

                    <xs:element name="inicio" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dia" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:minInclusive value="1"/>
                                <xs:maxInclusive value="31"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="mes">
                            <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:minInclusive value="1"/>
                                <xs:maxInclusive value="12"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="anyo" type="xs:integer"/>

                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="fin" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dia" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:minInclusive value="1"/>
                                <xs:maxInclusive value="31"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="mes">
                            <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:minInclusive value="1"/>
                                <xs:maxInclusive value="12"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="anyo" type="xs:integer"/>

                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
