Ejercicios XML- XPath - XSLT y RSS/Ejercicio6.xml

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="tabla_periodica">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="atomo" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="nombre">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="15"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="simbolo">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="3"/>
                    <xs:pattern value="[A-Z][a-zA-Z]{0,2}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="numero_atomico">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="1"/>
                    <xs:maxInclusive value="118"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="peso_atomico" type="xs:decimal"/>

              <xs:element name="punto_ebullicion">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unidades" default="centigrados">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="centigrados"/>
                            <xs:enumeration value="kelvin"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>

              <xs:element name="densidad">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unidades" type="xs:string" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>

            </xs:sequence>

            <xs:attribute name="estado" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="solido"/>
                  <xs:enumeration value="liquido"/>
                  <xs:enumeration value="gas"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>

          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
