Ejercicios XML- XPath - XSLT y RSS/Ejercicio5.xml

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="canal">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="titulo_canal" type="xs:string"/>
        <xs:element name="subtitulo_canal" type="xs:string"/>

        <xs:element name="link">
          <xs:complexType>
            <xs:attribute name="href" type="xs:anyURI" use="required"/>
          </xs:complexType>
        </xs:element>

        <xs:element name="director">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string"/>
              <xs:element name="email" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="id">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[A-Z]{2}[0-9]{4}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="noticia" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="titulo" type="xs:string"/>

              <xs:element name="enlace">
                <xs:complexType>
                  <xs:attribute name="referencia" type="xs:anyURI" use="required"/>
                </xs:complexType>
              </xs:element>

              <xs:element name="imagen">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="altura">
                        <xs:simpleType>
                          <xs:restriction base="xs:integer">
                            <xs:minInclusive value="0"/>
                            <xs:maxInclusive value="100"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                      <xs:attribute name="anchura">
                        <xs:simpleType>
                          <xs:restriction base="xs:integer">
                            <xs:minInclusive value="0"/>
                            <xs:maxInclusive value="100"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>

              <xs:element name="visualizar" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tamanno" type="xs:integer"/>
                    <xs:element name="color">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="#[A-F0-9]{6}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="descripcion" type="xs:string"/>

            </xs:sequence>

            <xs:attribute name="id" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="[A-Z]{2}[0-9]{4}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>

          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
